
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
          <ion-button [routerLink]="['/add-contact']">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Contact</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    
    <ion-list>
      <ion-item-sliding *ngFor="let contact of allContact">
          <ion-item [routerLink]="['/contact-list', contact.id]" routerLinkActive="router-link-active" >
              <ion-label>{{ contact.name }}</ion-label>
              <ion-label>{{ contact.phone }}</ion-label>
              <ion-icon slot="end" name="call" color="primary"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option><ion-icon color="success" name="create"></ion-icon></ion-item-option>
            <ion-item-option><ion-icon color="danger" name="trash"></ion-icon></ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
    </ion-list>

  </ion-content>