<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/contact-list"></ion-back-button>
    </ion-buttons>
    <ion-title>New Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>      
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" [(ngModel)]="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Phone</ion-label>
            <ion-input type="text" [(ngModel)]="phone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
          </ion-item>
          <ion-item *ngIf="errorMsg">
              <p color="danger">{{ errorMsg }}</p>
          </ion-item>
          <ion-button color="primary" expand="full" (click)=newContact()>Create</ion-button>
                
        </ion-card-content>
      </ion-card>

</ion-content>
