.contact-info{
    padding: 0 7px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.contact-info ion-row{
    background-color: #ddd;
}
.contact-info ion-item{
    --inner-border-width:0;
}
.contact-info p{
    padding-left: 5px;
}
.profile-image{
    padding: 5px;
    border: 1px solid #038387;
    overflow: hidden;
}
