<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/contact-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ contact.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" offset="4" >
        <div class="profile-image">
          <ion-img [src]="profileImage"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <div class="contact-info">
      <ion-row>
        <ion-col size="3">
          <p>Name:</p>
        </ion-col>
        <ion-col size="9">
            <ion-item>
                <ion-label>{{ contact.name }} </ion-label>
            </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <div class="contact-info">
        <ion-row>
          <ion-col size="3">
            <p>Phone:</p>
          </ion-col>
          <ion-col size="9">
            <ion-item>
                <ion-label>{{ contact.phone }} </ion-label>
                <ion-icon slot="end" name="call" color="primary"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <div class="contact-info">
          <ion-row>
            <ion-col size="3">
              <p>Email:</p>
            </ion-col>
            <ion-col size="9">
                <ion-item>
                    <ion-label>{{ contact.email }} </ion-label>
                    <ion-icon slot="end" name="mail" color="primary"></ion-icon>
                </ion-item>
            </ion-col>
          </ion-row>
        </div>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button expand="full" color="primary">Edit<ion-icon slot="start" name="create" ></ion-icon></ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button expand="full" color="danger" (click)="deleteContact(contact.id)">Delete<ion-icon slot="start" name="close" ></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
