 <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" [(ngModel)]="username" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="Password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-button color="primary" expand="full" (click)=login()>Login</ion-button>
      
    </ion-card>
</ion-content>
